.about {
    section {
        position: relative;

        &.section1 {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            div {
                position: relative;
                height: 100%;
                width: 100%;
                padding: 0;
                aspect-ratio: 16 / 5;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                background-color: black;

                img {
                    position: absolute;
                    width: 100%;
                    opacity: 50%;
                }
            }
            article {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;

                p, h1 {
                    color: white;
                    text-align: start;
                    padding: 0 80px;
                }
                h1 {
                    margin: 0;
                }
            }
        }
        &.section2 {
            @extend %grid;
            padding-top: 64px;

            div {
                position: relative;
                height: 100%;
                width: 100%;
                grid-column: 1 / 5;
                padding: 0;
                aspect-ratio: 3 / 2;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                border-radius: 8px;

                img {
                    position: absolute;
                    height: 100%;
                }
            }
            article {
                grid-column: 5 / 13;
                display: flex;
                flex-direction: column;

                h2 {
                    margin: 0;
                }
            }
        }
        &.section3 {
            @extend %grid;
            padding-top: 64px;

            article {
                grid-column: 1 / 8;
                grid-row: 1;
                display: flex;
                flex-direction: column;

                h2 {
                    margin: 0;
                }
            }
            div {
                position: relative;
                height: 100%;
                width: 100%;
                grid-column: 8 / 13;
                padding: 0;
                aspect-ratio: 3 / 2;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                border-radius: 8px;

                img {
                    position: absolute;
                    height: 100%;
                }
            }
        }
        &.section4 {
            padding: 0 80px;
            display: flex;
            flex-direction: row;
            gap: 64px;
            padding-top: 64px;

            article {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .bold {
                    font-weight: bold;
                    font-size: 32px;
                    margin: 0;
                }
            }
        }
        &.section5 {
            padding: 0 80px;
            display: flex;
            flex-direction: row;
            gap: 16px;
            padding-top: 64px;

            div {
                position: relative;
                height: 100%;
                width: 100%;
                padding: 0;
                aspect-ratio: 3 / 2;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                border-radius: 8px;

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}