:root {
    --primary: #F196BA;
}

body {
    margin: 0;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Staatliches';
    text-transform: uppercase;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 32px;
}

a, p {
    font-family: 'Inter';
    text-decoration: none;
}

.button {
    color: black;
    background-color: white;
    padding: 16px 64px;
    border-radius: 100px;
}

%grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 36px;
    padding: 0 80px;
}